.contendedor {
  display: flex;
  justify-content:space-evenly;
  

}
.nombre{
  color: brown;
  font-size: 2vw;
  display: flex;
  justify-content: center;
}
.caja{
  width: 30%;
  border: 5px dotted green;
  border-radius: 10px;
  padding: 6px;
  margin: 10px;
  
}
image{
  width: 200%;
  
}
.resultado{
  user-select: none;
}
.campo{
  display: block;
  height:15px;
  width:40px;
  text-align:center;
  font-weight:bold;
  align-items: center;
  border-width: 1px;
  background-color: rgb(181, 182, 190);
}
.imgRey
 {
    width: 200px;
    height: auto;
}
